@width: 200px;
@height: @width + 50px;
@color1: red;
@color2: purple;



.htmllessons{
	color: green;
	.center();
}

.line{
	width: @width;
	height: @height;
	background: linear-gradient(to right, @color1, @color2);
	.center();
}

.center(){
	display: block;
	margin: 0 auto;
	text-align: center;
}